.about-us-header{
    background-color: #2d2c2c;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}
.header_logo{
    width: 15%;
    height: 15%;
    margin: auto 0;
}