.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes pop {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    20% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 4;
    }
}
.header_content,
.app__nav li
.navbar a {
    animation: pop 6 ease forwards;
}

    

  