.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body {
    font-family: 'Poppins', sans-serif; /* Default font for all text */
    background-color: #f9f9f9; /* Background color for the section */

  }
  
  h1 {
    font-family: 'Poppins', sans-serif; /* Apply the same font to h1 or choose a different one */
    font-weight: 700; /* Use a bold font-weight for h1 */
    font-size: 3em; /* Adjust size as needed */
    color: #ffffff; /* White color for better visibility on a dark background */
    text-transform: uppercase; /* Make text uppercase for a cool effect */
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a slight shadow for a 3D effect */
  }
  
  p {
    font-size: 1.2em; /* Slightly increase font size for paragraphs */
    color: #ffffff; /* Ensure paragraph text is readable */
    margin: 0;
    padding: 0;
    line-height: 1.5; /* Increase line height for better readability */
  }
  